@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/* reset the following */
html, body, h1, h2, h3, h4, h5,h6 p {
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    font-stretch: inherit;
    vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 100%);
    display: grid;
    place-items: center;
    height: 100vh; 
    max-width: 100%;
    padding: 2rem;
}
.header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    padding-left: 3rem;
    width: 100vw;
    z-index: 3rem;
    background-color: white;
}
.nav-bar{
    display: flex;
    width: 90vw; 
    list-style-type: none;
    font-size: 1.2rem;
    
}
 #sidebar-menu {
     display: none;

 }

.list-item {
    list-style: none;
}
a{
    text-decoration: none;
    padding-left: .5rem;
    padding-right: 1rem;
}
.hamburger{
    display: none;
}
.logo img{
    width: 6.25rem;
    padding-left: 1rem;
}
main{
    width: 100%;
    padding: 2rem;
}
.footer{
    width: 100%;
    padding-bottom: 2rem;
}
.background-container{
    background-image: url("images/mainfraud.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.text-block{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.hgroup-heading{
    color:#ffffff;
    font-size: 2rem;
    margin-top: 8rem;
}
.hgroup-p{
    color: #ffffff;
    font-size: 1.275rem;
    padding-top:2rem;
}
.first-row{
    display: flex;
    justify-content: space-between;
    height: 45vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.checks-pic-container img{
    width: 45vw;
    margin-right: 5vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
}
.check-box-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
}
.top-text {
    align-self: center;
    display: flex;
    flex-direction: column;
}
.bottom-text {
    align-self: center;
    display: flex;
    flex-direction: column;
}
.second-row{
    display: flex;
    flex-direction: row;
    background-color: rgb(242, 241, 241);
    height: 45vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.second-row-text{
    display: flex;
    flex-direction: column;
}
/* grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, auto); /* Two rows */
    gap: 1rem; /* Adjust the gap between cells */
    padding: 1rem;
    padding-right: 0;
}
.check-box-container{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    
}
.container-heading{
    align-self: center;
    font-size: 2rem;
    padding-bottom: 1rem;
    color:#17006c;
}
.container-p{
    align-self: center;
    font-size: 1rem;
    padding-top: 1.5rem;
}
.svg-text-group{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}
.svg-icon{
    padding-bottom: .5rem;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}
.toggle-icon{
    margin-top: .5rem;
}
.toggle-icon img{
    width:50px;
    
}
.grid-txt-toggle{
    padding-bottom: 1rem;
    color: grey;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-heading{
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin:0;
    padding: 0;
}
.second-row-text{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50vw;
}
.secondrow-heading-large {
    font-size: 2rem;
    color: #17006c;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}
.secondrow-heading-small{
    font-size: 1.5rem;
    color: black;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.secondrow-p{
    font-size: 1rem;
    color: grey;
    padding-right: 3rem;
}
.third-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.contactus-heading{
    font-size: 3rem;
    text-align: center;
    color:#17006c;
}
.contactus-p{
    font-size: 1.1rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.btn{
    background-color: #13bbea;
    border-radius: 10px;
    height: 50px;
    padding: 1rem;
    color: #ffffff;
    vertical-align: middle;
}
.btn:hover{
    background-color: #17006c;
}
a{
    text-decoration: none;
}
.btn.text{
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
}
.forth-row-img img{
    width: 100%;
}
.checked-svg{
    width: 50px;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}   
.checkbox{
    display: flex;
    align-items: center;
    padding: .5rem;
}
.list{
    padding-left: .8rem;
}

/* media queries */
@media screen and (max-width: 578px){
    body{
        padding: 0;
    }
    main {
        width: 100%;
        padding: 0;
    }
    .first-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 55vh;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .nav-bar {
        display: none;
    }
    .header {
        display: flex;
        align-items: center;
        position: fixed;
        justify-content: space-between;
        top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100vw;
        z-index: 3;
        background-color: white;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 40px;
        height: 30px;
        border: none;
        cursor: pointer;
    }
    
    .bar {
        width: 30px;
        height: 5px;
        background: linear-gradient(to bottom,
                    grey, grey 20%,
                    white 20%, white 40%,
                    grey 40%, grey 60%,
                    white 60%, white 80%,
                    grey 80%, grey 100%);
        margin: 3px 0;
    }
    #sidebar-menu {
        display: none;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background-color: #f1f1f1;
        padding: 10px;
    }
    #menu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    #menu-list li {
        padding: 5px;
    }
    #menu-list li a {
        text-decoration: none;
    }
    .hamburger.active .bar {
        display: none;
    }

    #sidebar-menu.active {
        display: block;
    }
    .logo img {
        width: 4.25rem;
        padding-left: 0;
        padding-top: 0.5rem;
    }
    .background-container {
        background-image: url(images/mainfraud.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 17vh;
        margin-top: 4rem;
    }
    .checks-pic-container{
        margin-top: 1rem;
    }
    .checks-pic-container img {
        width: 82vw;
        margin-right: 5vw;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .check-box-container {
        display: flex;
        flex-direction: column;
        width: 85vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .container-heading {
        align-self: center;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        color: #17006c;
    }
    .container-p{
        padding-top: 0;
        font-size: .6rem;
    }
    .container-heading{
        padding-bottom: 0;
    }
    .svg-text-group{
        font-size: .8rem;
    }
    .checked-svg{
        width:30px;
    }
    .top-text{
        text-align: center;
    }
    .bottom-text{
        text-align: center;
    }
    .hgroup-heading {
        color: #ffffff;
        font-size: .5rem;
        margin-top: 2rem;
    }
    .hgroup-p {
        color: #ffffff;
        font-size: .32rem;
        padding-top: 0.5rem;
    }
    .text-block{
        padding: 1rem;
    }
    .second-row {
        display: flex;
        flex-direction: column;
        background-color: rgb(242, 241, 241);
        height: 78vh;
        padding-top: 0;
        padding-bottom: 0;
    }
    .second-row-text {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 100vw;
    }
    .secondrow-heading-large {
        font-size: 1.5rem;
        color: #17006c;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;
    }
    .secondrow-heading-small {
        font-size: 1rem;
        color: black;
        padding-bottom: .5rem;
        padding-top: .5rem;
        text-align: center;
    }
    .secondrow-p {
        font-size: .5rem;
        color: grey;
        padding-right: 0;
        text-align: center;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100vw;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .text-group{
        text-align: center;
   }
    .toggle-icon{
        margin-top: 0;
    }
   .grid-txt-toggle{
       font-size: .5rem;
   }

    .toggle-icon img {
        width: 36px;
    }
    .forth-row-img img{
        height: 6rem;
    }
    .contactus-heading {
        font-size: 1.5rem;
        text-align: center;
        color: #17006c;
    }
    .contactus-p {
        font-size: 1rem;
        text-align: center;
        padding-top: 0rem;
        padding-bottom: 1rem;
    }
    .third-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 27vh;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .btn{
        background-color: #13bbea;
        border-radius: 10px;
        height: 50px;
        padding: 0.7rem;
        color: #ffffff;
        vertical-align: middle;
    }
    a{
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
    }
  
    .footer{
        font-size: .5rem;
    }
}

@media screen and (min-width: 579px) and (max-width: 1024px){
    body {
        padding: 0;
    }
    main{
        padding: 0;
    }
    .background-container {
        background-image: url(images/mainfraud.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
        margin-top: 1.5rem;
    }
    .header{
        padding-left: 1rem;
        z-index: 1000;
    }
    .hgroup-heading {
        font-size: 1rem;
        margin-top: 7rem;
    }
    .hgroup-p {
        font-size: .64rem;
        padding-top: 1rem;
    }
    .first-row{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 64vh;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .checks-pic-container img{
        width:80vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
   .top-text{
        width: 80vw;
   }
   .bottom-text {
       width: 80vw;
   }
   .second-row{
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 85vh;
   }
    .grid-container {
       display: flex;
       flex-direction: column;
       padding-left: 1rem;
       padding-right: 1rem;
       width: 100vw;
    }
    .second-row-text{
        padding: 0;
        width: 90vw;
        text-align: center;
    }
    .secondrow-p{
        padding-right: 0;
    }
    .row{
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-group{
        text-align: center;
    }
   .third-row{
        height: 26vh;
        padding-top: 0;
        padding-bottom: 0;
   }
   .contactus-p{
        padding-bottom: 2rem;
   }
   .contactus-heading{
        font-size: 2.5rem;
   }
   .checkbox, .svg-icon{
        position: relative;
   }

}